- provide :title, 'Sign in'

.row
  .span6
    %h2 Hello there.

    %p I guess you've already got an account, so you know the drill. Just sign in over there and you're good to go.
      
    %p What's that? You don't have an account? That's okay, you can #{link_to 'get one here', sign_up_path}.
  .span6
    = render 'form'
