- provide :title, 'Sign in'

.row
  .span4.offset2
    %h2 Welcome!

    %p Come on in.
      
    %p If you don't already have an account, you can #{link_to 'sign up here', sign_up_path}.
  .span4
    = render 'form'
