- provide :title, 'Sign in'

.row
  .span6.offset3
    %h2 Welcome.

    %p You know the drill, just sign in you'll be good to go. If you don't have an account, you can #{link_to 'sign up here', sign_up_path}.

    = render 'form'
    
