- provide :title, ''

%h1 Ratings for the last #{pluralize @games.count, 'game'}

.row
  .span16
    #fig{:style => 'height: 500px'}
        
:coffeescript
  $ ->
    data = #{Player.joins(:game).merge(@games).flot_series.to_json}
    myFlot = $.plot $('#fig'), data,
      series:
        lines:
          show: true
          fill: false
        points:
          show: false
      legend:
        position: 'nw'
      xaxis:
        tickDecimals: 0
        tickFormatter: (val, axis) ->
          "Game " + val
        # mode: 'time'
        # timeformat: '%b %d'
      grid:
        hoverable: true
        mouseActiveRadius: 25
      crosshair:
        mode: 'x'
        color: '#aaaaaa'
    #             
    # $('#fig').bind 'plothover', (event, pos, item) ->
    #   if item
    #     # highilight(item.series, item.datapoint)
    #     $('#rating').text(item.datapoint[1].toFixed(2))
    #     $('#skill_mean').text(item.datapoint[2].toFixed(2))
    #     $('#skill_deviation').text(((item.datapoint[2] - item.datapoint[1]) / 3).toFixed(2))
    #     myFlot.lockCrosshair
    #       x: item.datapoint[0]
    #       y: item.datapoint[1]
    #       
    #   else
    #     $('#rating').text($('#rating').data('default').toFixed(2))
    #     $('#skill_mean').text($('#skill_mean').data('default').toFixed(2))
    #     $('#skill_deviation').text($('#skill_deviation').data('default').toFixed(2))
    #     myFlot.unlockCrosshair()    