.section
  %h1 This is Heading 1
  %p And this would be just plain lorem ipsum paragraph text.
  %h2 This is Heading 2
  %p And this would be just plain lorem ipsum paragraph text.
  %h3 This is Heading 3
  %p And this would be just plain lorem ipsum paragraph text.
    
  %p Organic sustainable lomo, +1 irony McSweeney's skateboard Portland PBR tattooed farm-to-table Terry Richardson Williamsburg. Organic farm-to-table wolf, 
  
  %p Next level shit put a bird on it freegan American Apparel Williamsburg chambray gentrify viral you probably haven't heard of them keffiyeh Cosby sweater. Pitchfork photo booth fuck, DIY cardigan messenger bag butcher Thundercats tofu you probably haven't heard of them whatever squid VHS put a bird on it. Thundercats fixie Williamsburg, photo booth synth vinyl dreamcatcher Wes Anderson cliche. You probably haven't heard of them DIY mlkshk biodiesel McSweeney's raw denim. Skateboard Pitchfork Etsy, photo booth messenger bag artisan raw denim beard Tumblr retro Austin. Wes Anderson sustainable keffiyeh, blog lomo craft beer cliche brunch homo skateboard biodiesel fanny pack Pitchfork you probably haven't heard of them Stumptown.
    
- [1, 2, 4, 8, 16].each do |i|
  .row
    - (16/i).times do
      .columns.highlight{:class => "span#{i}", :style => 'text-align:center'}
        = i 