.row
  .span6
    %h2 What's your name?

    %p I'm super excited that you want to join, but I don't know your name yet.
    
    %p Just enter in your name and the email address and password you'd like to use to log in with and you'll be ready to go.
    
  .span6
    = render 'form'
