.row
  .span6.offset3
    %h2 What's your name?

    %p We're super-duper excited that you want to join, but your identity is a complete mystery.
    
    %p Just enter in your name and the email address and password you'd like to use to log in with and you'll be ready to go.
    
    = render 'form'
