.row
  .span6
    %h2 Awesome!
    %p I'm super excited that you want to join. I'm quite honestly flattered.
    
    %p Just make your account and you'll be ready to start tracking foosball games like there's no tomorrow.
  .span6
    = render 'form'
