
.row
  - game.scores.each do |score|
    .span1
      - if score.is_winner?
        %h3= score.goals
      - else
        %p= score.goals
    .span3
      - if score.is_winner?
        %strong= score.players.collect{|p| p.user.name}.join(' & ')
      - else
        = score.players.collect{|p| p.user.name}.join(' & ')