- provide :title, 'Dashboard'

%h1 Dashboard

%h3 Your Leagues
- if current_user.leagues.empty?
  %p
    %em You aren't in any leagues yet.
  %p
    %em You should #{link_to 'find one to join', leagues_path}.
- else
  = render :partial => 'leagues/league', :collection => current_user.leagues