$primary_button_color: #ff6c00

form  
  .field
    @include clearfix
    padding: $grid / 2
    label
      float: left
      text-align: right
      min-width: $grid * 5
      padding-right: $grid
    input
      margin-left: 6 * $grid
      float: left
    label+input
      margin-left: 0
  &.stacked
    label
      text-align: left
      clear: both
    input
      margin-left: 0
      clear: both
    

input[type="text"], input[type="password"]
  padding: $grid/4
  border: 1px solid #aaa
  width: 20 * $grid
  @include rounded
  &:focus
    background: #fffbe3
    
input[type="submit"]
  font-size: 80%
  background: $primary_button_color
  background-image: -moz-linear-gradient(center top, $primary_button_color, darken($primary_button_color, 15%))
  border: 1px solid darken($primary_button_color, 15%)
  color: #fff
  line-height: 2 * $grid
  padding: $grid/4 $grid
  margin-right: $grid/2
  @include rounded
  cursor: pointer
