$columns_count: 8
$columns_width: 3 * $grid
$columns_gutter_width: 2 * $grid
$content_width: $columns_width * $columns_count + $columns_gutter_width * ($columns_count - 1) 
body
  //background: #ddd

.header_bar
  width: $content_width
  height: 4 * $ygrid
  padding: $ygrid 1.5 * $grid
  margin: 0 auto $ygrid auto
  clear: both
  background: #f4f4f4
  @include rounded(bottom, 2px)
  .wordmark
    float: left
    font-size: 18px
    height: 4 * $ygrid
  .links
    padding: 0.5 * $ygrid 0
    height: 3 * $ygrid
    float: right
  ul
    list-style: none
    float: right
    li
      float: left
      padding-left: $grid
  a
    color: inherit
    
        
#body_wrapper
  clear: both
  margin: 0 auto
  width: $content_width
  background: #fff
  overflow: hidden
  padding: $grid 2 * $grid
 
 
.spacer, .spacer1, .spacer2, .spacer3
  width: 100%
  height: 3 * $ygrid
  clear: both
.spacer1
  height: $ygrid
.spacer2
  height: 2 * $ygrid
   
.row, .section
  float: left
  clear: both
  margin-bottom: $ygrid * 2
  
.row
  margin-left: - $columns_gutter_width
      
// Span classes
@for $colspan from 1 through $columns_count
  .span#{$colspan}
    float: left 
    margin-left: 2 * $grid
    width: $colspan * $columns_width + ($colspan - 1) * $columns_gutter_width
    
// Offset classes
@for $offset from 1 through ($columns_count - 1)
  .offset#{$offset}
    margin-left: $offset * ($columns_width + $columns_gutter_width)
    
.score
  .goals
    font-size: 24px
  .players
  