body
  font: 14px / #{(3 * $ygrid)} Arial, sans-serif
  color: #333
  
h1, h2, h3
  @include force_smoothing
  font:
    family: Lemon, cursive
    weight: 700
  margin-bottom: 2 * $ygrid
  clear: both
  line-height: 1em
  small
    color: #666
    font-size: 70%
  input, .btn
    float: right
  
h1
  font-size: 48px
  
h2
  font-size: 36px
  
h3
  font-size: 24px
  font-family: Arial, sans-serif
 
p
  margin-bottom: 2 * $ygrid


a
  //color: #46A546
  color: #E67D49
  text-decoration: none
  &:hover
    text-decoration: underline
    
.wordmark
  font:
    family: Pacifico, cursive
    weight: bold
  color: #E67D49
  text-shadow: rgba(0, 0, 0, 0.16) 1px 1px 0
  a
    color: inherit
    
h1, h2, h3
  .wordmark
    text-shadow: rgba(0, 0, 0, 0.34) 1px 1px 0