.footer
  %p
    This site was #{['tastefully', 'handsomely', 'daintily', 'delicately', 'gracefully', 'elegantly', 'delightfully', 'harmoniously', 'beautifully', 'magnficently', 'exquisitely', 'gorgeously', 'magnificently'].sample} written by Zach.
    %br
    Also, copyright or whatever.